---
---

@import "{{ site.theme }}";
.page-header {
    background-image: none;
    a {
        display: none;
    }
    .project-tagline {
        margin-bottom: 0;
    }
}
.site-footer {
    .site-footer-credits {
        display: none;
    }
}

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: invert($body-link-color);
    outline: thick solid invert($body-link-color);
  }
}
